@import 'variables';

@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:400;
    src:local('Open Sans'), local('OpenSans'), url('assets/fonts/OpenSans-Regular.woff2') format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:700;
    src:local('Open Sans Bold'), local('OpenSans-Bold'), url('assets/fonts/OpenSans-Bold.woff2') format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    outline:none;
}
input {
    font-family:'Open Sans', sans-serif;
}
input[type=text] {
    display:block;
    font-size:1rem;
    padding:0 12px;
    line-height:36px;
    margin:6px 0;
    border:1px solid $gray-light;
    color:$gray;
    width:100%;
}
input[type=submit] {
    display:block;
    font-size:1rem;
    padding:0 12px;
    line-height:36px;
    margin:6px 0;
    border:0;
    color:white;
    background:$primary;
    width:100%;
    margin:6px 0;
    cursor:pointer;
}
input[type=button] {
    display:block;
    font-size:1rem;
    padding:0 12px;
    line-height:36px;
    margin:6px 0;
    border:0;
    color:white;
    background:$primary;
    width:100%;
    margin:6px 0;
    cursor:pointer;
}
svg.icon {
    vertical-align:bottom;
    display:inline-block;
}
.right {
    float:right;
}
html {
    margin:0;
    padding:0;
}
body {
    margin:0;
    padding:0;
    font-family:'Open Sans', sans-serif;
    background:$background;
    min-width:360px;
}
